[data-screen='local']{


  >.row{
    width: 100%;
    flex-shrink: 0;
  }
  position: relative;
  --casques-w:300px;

  #casques,#contenus{
    //outline: 1px dotted red;
    position: absolute;
    top: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #casques{
    width: var(--casques-w);
    left: 1px;
    //display: flex;
    //flex-wrap: wrap;



    [data-casque]{
      padding: 15px;
      flex-grow: 1;
      flex-shrink: 0;
      position: relative;
      display: flex;
      >*{
        flex-shrink: 0;
      }

      svg{
        width: 20px;
        height: 20px;
        outline: 1px solid red;
      }


      >.left{
        .identifier{
          margin-right: 5px;
          border-radius: 100%;
          color: #fff;
          --radius:25px;
          width: var(--radius);
          height:var(--radius);
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
        }
        margin-right: 5px;
        .battery{

        }
        .charging{

        }
      }
      >.center{
        margin-right: 5px;
        --w:100px;
        img{
          background-color: #222;
          width: var(--w);
          height: calc( var(--w) * 9 / 16);
          border: 0;
        }
      }
      >.right{
        .contenu-name{
          font-size: 12px;
        }
        .play-current-time{

        }
        .play-total-time{

        }
      }








    }
  }









  #contenus{
    left: calc(var(--casques-w));
    width: calc( 100% - var(--casques-w) );
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    //align-items: flex-start;

    --spacing:15px;
    >.contenu-card{
      width:calc( 50% - var(--spacing) * 2);
      margin: var(--spacing);

    .card-title{
      font-size: 15px;
      margin: 0;
    }
    }
  }

}