[data-screen]{
  display: none;
  width: 100%;
  height: calc( 100vh - var(--nav-height) );
  position: absolute;
  //outline: 1px solid red;
  outline-offset: -1px;
  justify-content: center;
  align-items: center;
  &.active{
    display: flex;
  }
}
