[data-screen]{
  display: none;
  width: 100%;
  height: calc( 100vh - 56px );
  position: relative;
  //border: 2px solid red;
  justify-content: center;
  align-items: center;
  &.active{
    display: flex;
  }
}
