.contenu-card{
  .card-title{
    font-size: 15px;
    margin: 0;
  }

  [casque-copied]{
    width: 10px;
    height: 10px;
    background-color: red;
    &.copied{
      background-color: green;
    }
  }

}