.contenu-card{

  position: relative;

  .card-title{
    font-size: 12px;
    margin: 0;
  }

  [casque-copied]{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: var(--gray);
    border-radius: 100%;
    transition:all 0.2s;

    >svg{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
    }
    .active{
      display: none;
    }
    .inactive{
      display: block;
    }
    &.copied{
      color: var(--success);
      .active{
        display: block;
      }
      .inactive{
        display: none;
      }
    }
  }

}