[data-casque]{




  padding: 15px;
  margin: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  *{
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }


  .right{
    width: 120px;
  }

  &.selected{
    background-color: var(--color-cayceo);
    color: #fff;
    .contenu-name{
      color: #fff;
    }
  }

  >.left{
    margin-right: 5px;
    .identifier{
      border-radius: 100%;
      color: #fff;
      --radius:25px;
      width: var(--radius);
      height:var(--radius);
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
    }
  }
  >.center{
    margin-right: 5px;
    --w:100px;
    .img{
      background-color: #222;
      width: var(--w);
      height: calc( var(--w) * 9 / 16);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 0;
      margin: 0;
    }
    .play-progress{
      background-color: var(--color-cayceo);
      //background-color: #fff;
      mix-blend-mode: hard-light;
      //opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
    }


  }
  >.right{
    justify-content: space-between;
    flex-grow: 1;
    position: relative;
    .contenu-name{
      font-weight: 400;
      font-size: 12px;
      word-wrap: break-word;
      margin: 0;
    }

    .network{
      font-size: 9px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      >*{
        margin-right: 5px;
        padding: 0 3px;
        color: #ddd;
        &.active{
          background-color: #090;
          color: #fff;
        }
      }
    }

    .play-texts{
      //outline: 1px solid red;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      font-size: 9px;
      >*{
        //outline: 1px solid red;
      }
    }

  }








}